/* 
MARK: REFERENCES

GREEN COLOR SCHEME -
#BAC7BE
#C2E1C2
#7DCD85
#80AB82
#778472 

*/



html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Garamond, Helvetica, Arial;
}

header {
    width: 100%;
    height: 80vh;
    background: #778472;
}

.content {
    text-align: center;
}

.logo { 
    position: fixed;
    float: left;
    margin: 12px 20px;
    color: white;
    font-size: 24px;
}

.logo a {
    text-decoration: none;
    color: white;
}

.menu {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .1rem;
    font-size: 12px;
    margin-top: 20px;
}

nav {
    position: fixed;
    width: 100%;
}

nav.white ul { /* apply this when scroll */
    background-color: white;
    color: black;
}

nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: .4s; /* when the .scroll class is added. */
}

nav ul li {
    display: inline;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* MEDIA-QUERIES */

/* @media(max-width: 580px) { -- TODO: push pinboard on to the top, make the menu items smaller and spread them out underneath
    


} */