/* ------------- NAV ----------- */
.logo {
    font-size: 22px;
}

/* BROWSE */

/* FIX CLASSES */
.threeQuarterHeight {
    height: 75vh;
}

.fullHeight {
    height: 100vh;
}

.divider {
border-right: 1px solid rgba(0, 0, 0, .2);
}