/* 
MARK: REFERENCES

GREEN COLOR SCHEME -
#BAC7BE
#C2E1C2
#7DCD85
#80AB82
#778472 

*/



body {
    margin: 0;
    font-family: Garamond, Helvetica, Arial;
    height: 1000px;
}

/* NAVBAR STYLING */
/* header {
    background-color: rgba(255, 255, 255, 0.5); 
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    color: black;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    margin-left: 0;
} */

/* ul.navBar {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    padding: 25px 50px;
}

ul.navBar li {
    display: inline;
    padding: 0 10px;
}

ul.navBar li a {
    text-decoration: none;
    color: black;
    transition: ease-in-out 165ms all;
}

ul.navBar li a:hover {
    color: black;
} */

/* FUNCTIONAL / 'FIXING' CLASSES */
/* .floatLeft {
    float: left;
}

.floatRight {
    float: right;
} */