/* HEADER */
header {
    position: fixed;
    top: 0;
    background-color: white;
    height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    z-index: 1;
}

nav ul li a, .logo a, .login a {
    text-decoration: none;
    color: black;
}

/* BODY STYLES */
.bodyContent {
    margin-top: 45px;
}

/* MEDIA-QUERIES */

/* @media(max-width: 580px) { -- TODO: push pinboard on to the top, make the menu items smaller and spread them out underneath
    


} */