/* HEADER */
header {
    position: fixed;
    top: 0;
    background-color: #778472;
    height: 65px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    z-index: 1;
}

nav ul li a, .logo a, .login a {
    text-decoration: none;
    color: white;
}

/* BODY STYLES */
.bodyContent {
    margin-top: 45px;
}

/* FORM */
label {
    font-size: 30px;
}

.createTaskForm select[name=category] {
    width: 220px;
}

.createTaskForm input[type=text].title { /* TITLE */
    min-width: 60%; /* TODO: character cap on here */
}

.createTaskForm input[type=text].description {
    width: 60%;
    min-height: 200px;
    vertical-align: top; /* TODO: MAKE THIS CHANGE IN MEDIA-QUERIES */
}

/* MEDIA-QUERIES */

/* @media(max-width: 580px) { -- TODO: push pinboard on to the top, make the menu items smaller and spread them out underneath
    


} */